params {
    cluster      = "$baseDir/hg38_mm10_inputs/hg38_mm10_annotated.tab.gz"
    genomes      = "$baseDir/hg38_mm10_inputs/GENOMES/*_gDNA.fasta"
    annotations  = "$baseDir/hg38_mm10_inputs/GTF/*_annot.gtf"
    alignmentnum = 1000
    extraexons   = "$baseDir/hg38_mm10_inputs/EXTRAEX/*_extraexons.tab"
    liftover     = ""
    orthopairs   = ""
    evodists     = "$baseDir/hg38_mm10_inputs/evodists.txt"
    long_dist    = "2,0.10,0.40,0.15"
    medium_dist  = "2,0.30,0.60,0.20"
    short_dist   = "2,0.50,0.60,0.25"
    prevaln      = ""
    output       = "$baseDir/hg38_mm10_output"
    email        = ""
}
